.input {
  color: #000;
  padding: .5rem 1rem .5rem 1rem;
  outline-width: 1px;
  border-bottom: 1.3px solid;
  border-color: rgb(33, 107, 117);
}

.input:focus {
  outline: none; 
  border-color: rgb(33, 107, 117);
  box-shadow: 0 0 5px rgb(33, 107, 117);
  border-radius: 5px;
}