@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  color: #e9f4ff;
  background-color: #64748b;
  outline: none;
  border-color: #64748b;
  box-shadow: 0 0 0.25rem #64748b;
  border-radius: 0.75rem;
}

button:hover {
  outline: none;
  border-color: #64748b;
  box-shadow: 0 0 0.5rem #353e4b;
  border-radius: 0.75rem;
  transition: 'border-shadow 0.3s ease'
}